setxkbmap -option 'caps:ctrl_modifier'
xcape -e 'Caps_Lock=Escape'
setxkbmap -option 'caps:ctrl_modifier'
xcape -e 'Caps_Lock=Escape;Control_L=Escape;Control_R=Escape'

# IBM MODEL M map
# setxkbmap -option 'caps:ctrl_modifier'
#xcape -e 'Caps_Lock=Escape'
#setxkbmap -option caps:escape
# setxkbmap -option 'caps:ctrl_modifier'
# xcape -e 'Caps_Lock=Escape;Control_L=Escape;Control_R=Escape'


xset r rate 220 40
