:root {
  --tab-min-height: 30px !important;
}

* {
  font-size: 11pt !important;
}
* {
  font-family: "TerminessTTF Nerd Font", "Terminess (TTF) Nerd Font", "Terminess Nerd Font" !important;
}

.tabbrowser-tab,
.tab-background {
  height: var(--tab-min-height) !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.tabbrowser-tab .tab-icon-image {
  display: none !important;
}
